<h1>Write a Blog Post</h1>

<form action="/create_post" method="post">
  <div>
    <label for"title">title</label>
    <input type="text" id="title" name="title"></input>
  </div>
  <div>
    <label for="post_body">post body</label>
    <textarea id="post_body" name="post_body"></textarea>
  </div>
  <input type="submit" id="create_post">create post</input>
</form>
