# Global ignores - please do not add to this list unless you are confident
# that *every* project has no need for these files

# scm revert files
**.orig

# mac finder artifacts
.DS_Store

# textmate/sublime/rubymine project files
*.tmproj
*.sublime-*
.idea
*.iml
*.vscode*

# other editor artifacts
**.sw*
*~
*#

# environment files that may contain sensitive data
.env
.env.devonly
.powenv

# irb/pry/rvm/rbenv config
.irbrc
.pryrc
.rvm
.rbenv-vars
.rbenv-gemsets
.ruby-gemset
.sass-cache

# guardfiles
Guardfile.me

# bundle config
.bundle
node_modules

# dangerous config files that might accidentally be committed
isce.yml
isce.yaml

# Sublime Text, Atom, VIM CTags
*.tags
*.tags_swap

# Ignored files
*.ignore
*.pckl

*.log
