<html>
    <h1>Greetings!</h1>

    Oh hi, <b><%= @name %></b>. Don't you look attractive today!

    <ul>
    <% @names.each do |a_name| %>
        <li><%= a_name %></li>
    <% end %>
    </ul>

</html>